@use "./vertical_nav";
@use "./horizontal_nav";
@use "./default_layout_w_vertical_nav";
@use "./default_layout_w_horizontal_nav";

/* stylelint-disable-next-line selector-id-pattern */
#app {
  block-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
