@import './mixins';

// ————————————————————————————————————
//* ——— Color
// ————————————————————————————————————

.gradient-primary {
  background: linear-gradient(98deg, #c48eff, var(--v-primary-base) 94%);
}

// ————————————————————————————————————
//* ——— Grid
// ————————————————————————————————————

// Card match height
.row.match-height {
  .v-card {
    height: 100%;
  }
}

// Removes large space when form is used with validation
.multi-col-validation {
  &.v-form {
    .v-text-field__details {
      margin-bottom: 0 !important;
      min-height: unset;

      .v-messages:not([role='alert']) {
        min-height: unset;
        .v-messages__wrapper {
          min-height: unset;
        }
      }
    }
  }
}

// ————————————————————————————————————
//* ——— Typography
// ————————————————————————————————————

//
//* ——— Font Sizes ——————————————————
//

// According to TailwindCSS
$font-sizes: (
  '.text-xs': (
    'font-size': 0.75rem,
    'line-height': 1rem,
  ),
  '.text-sm': (
    'font-size': 0.875rem,
    'line-height': 1.25rem,
  ),
  '.text-base': (
    'font-size': 1rem,
    'line-height': 1.5rem,
  ),
  '.text-lg': (
    'font-size': 1.125rem,
    'line-height': 1.75rem,
  ),
  '.text-xl': (
    'font-size': 1.25rem,
    'line-height': 1.75rem,
  ),
  '.text-2xl': (
    'font-size': 1.5rem,
    'line-height': 2rem,
  ),
  '.text-3xl': (
    'font-size': 1.875rem,
    'line-height': 2.25rem,
  ),
  '.text-4xl': (
    'font-size': 2.25rem,
    'line-height': 2.5rem,
  ),
  '.text-5xl': (
    'font-size': 3rem,
    'line-height': 1,
  ),
  // 'text-6xl': ( 'font-size': 3.75rem, 'line-height': 1 ),
  // 'text-7xl': ( 'font-size': 4.5rem, 'line-height': 1 ),
  // 'text-8xl': ( 'font-size': 6rem, 'line-height': 1 ),
  // 'text-9xl': ( 'font-size': 8rem, 'line-height': 1 ),,,,,,,,,,,,,,,,,,
);

@include class-generator($font-sizes, $important: true);

//
//* ——— Font Size ——————————————————
//

.font-weight-semibold {
  font-weight: 600;
}

// ————————————————————————————————————
//* ——— Components
// ————————————————————————————————————

//
//* ——— Avatar ——————————————————
//

// For creating initial avatars
@include light-bg-provider(v-avatar);

// FOr avatar group
// TODO: We might need to use custom variable here instead of shade->white
@include theme(v-avatar-group) using ($material) {
  display: flex;
  align-items: center;
  > * {
    &:not(:first-child) {
      margin-left: -0.8rem;
    }

    border: 2px solid map-deep-get($shades, 'white');
    transition: transform 0.25s ease, box-shadow 0.15s ease;

    &:hover {
      transform: translateY(-5px) scale(1.05);
      z-index: 2;
      @include elevation(2);
    }
  }
}

//
//* ——— Chip ——————————————————
//

// For creating initial avatars
@include light-bg-provider(v-chip);

// ————————————————————————————————————
//* ——— Misc
// ————————————————————————————————————

.cursor-pointer {
  cursor: pointer;
}
