@import './variables.scss';
@import '~vuetify/src/components/VCard/_variables.scss';
@import '~vuetify/src/components/VBadge/_variables.scss';
@import './classes.scss';

// Remove outline from button on focus
button {
  &:focus {
    outline: none;
  }
}

// Vuetify Fix: `dense` prop isn't working with SVG icons
.v-chip {
  .v-chip__content {
    .v-icon--dense {
      height: 20px;
      width: 20px;
    }
  }
}

.demo-space-x {
  margin-top: -$card-spacer-content;
  & > * {
    margin-right: $card-spacer-content;
    margin-top: $card-spacer-content;
  }
}
.demo-space-y {
  & > * {
    margin-bottom: $card-spacer-content;
    &:last-child {
      margin: 0;
    }
  }
}

.v-card {
  .v-card__title {
    line-height: 1;
    padding-top: $card-spacer;
  }
  .v-card__title ~ .v-card__title {
    padding-top: $card-spacer-content;
  }

  .v-card__subtitle,
  .v-card__text,
  .v-card__actions {
    padding-top: 0;

    @at-root .v-card &:nth-child(1) {
      padding-top: $card-spacer;
    }

    &:last-child {
      padding-bottom: $card-spacer;
    }
  }

  .v-divider + {
    .v-card__subtitle,
    .v-card__text,
    .v-card__actions {
      padding-top: $card-spacer-content;
    }
  }

  .v-card__actions {
    &.dense {
      padding: 0 calc(#{$card-spacer} - 8px) calc(#{$card-spacer} - 8px);
    }
  }
}

// Vuetify Fix: We have replace the icon with svg icon badge don't have any style for svg inside the badge.
.v-badge__badge {
  .v-icon {
    height: $badge-font-size;
    width: $badge-font-size;
  }
}

// Vuetify Fix: Calendar default color should be primary but they add accent class
.v-date-picker-table {
  .v-date-picker-table__current,
  .v-btn--active {
    &.accent {
      background-color: var(--v-primary-base) !important;
      border-color: var(--v-primary-base) !important;
    }
    &.accent--text {
      color: var(--v-primary-base) !important;
      caret-color: var(--v-primary-base) !important;
    }
  }
}

// Vuetify Fix: month picker header text should be primary

.v-date-picker-header {
  .v-date-picker-header__value {
    .accent--text {
      button:hover {
        color: var(--v-primary-base);
      }
    }
  }
}

// Vuetify Fix: Time picker active time should be primary
.v-picker--time {
  .v-time-picker-clock__hand {
    &.accent {
      background-color: var(--v-primary-base) !important;
      border-color: var(--v-primary-base) !important;
    }
  }
  .v-time-picker-clock__item--active {
    &.accent {
      background-color: var(--v-primary-base) !important;
      border-color: var(--v-primary-base) !important;
    }
  }
}

//
//* ——— Expansion Panel ——————————————————
//

// .v-expansion-panel {
//   &::before {
//     @include elevation(3, !important);
//   }
// }

//
//* ——— Dialog ——————————————————
//

// Add some space between divider and buttons
.v-dialog {
  .v-divider + .v-card__actions {
    padding-top: $card-spacer-content !important;
  }
}

//
//* ——— Pagination ——————————————————
//

.v-pagination__item,
.v-pagination__navigation {
  box-shadow: none !important;
}

//
//* ——— AutoComplete & Select ——————————————————
//

.v-autocomplete,
.v-select {
  .v-input__icon--clear {
    svg {
      height: 20px;
      width: 20px;
    }
  }
}

//
//* ——— Textarea ——————————————————
//

// ? Reason: Textarea hover underline color is too dark
.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
  border-color: rgba(map-get($shades, 'black'), 0.28) !important;
}

//
//* ——— Date Picker ——————————————————
//

.v-date-picker-table {
  .v-btn {
    &.v-btn--active.v-btn--disabled {
      color: #fff !important;
      opacity: 0.5;
    }
  }
}
