@import './variables.scss';
@import '~vuetify/src/components/VCard/_variables.scss';
@import '~vuetify/src/components/VBadge/_variables.scss';
@import './classes.scss';

// * Change the font size of content
@include theme(v-application) using ($material) {
  color: map-deep-get($material, 'text', 'secondary') !important;
}
@include theme(v-card) using ($material) {
  color: map-deep-get($material, 'text', 'secondary') !important;
}
@include theme(v-sheet) using ($material) {
  color: map-deep-get($material, 'text', 'secondary') !important;

  .v-card__title {
    color: map-deep-get($material, 'text', 'primary') !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: map-deep-get($material, 'text', 'primary') !important;
  }
}

// Remove outline from button on focus
button {
  &:focus {
    outline: none;
  }
}

// Vuetify Fix: `dense` prop isn't working with SVG icons
.v-chip {
  .v-chip__content {
    .v-icon--dense {
      height: 20px;
      width: 20px;
    }
  }
}

.demo-space-x {
  margin-top: -$card-spacer-content;
  & > * {
    margin-right: $card-spacer-content;
    margin-top: $card-spacer-content;
  }
}
.demo-space-y {
  & > * {
    margin-bottom: $card-spacer-content;
    &:last-child {
      margin: 0;
    }
  }
}

.v-card {
  .v-card__title {
    line-height: 1;
    padding-top: $card-spacer;
    padding-bottom: $card-spacer;
  }
  .v-card__title ~ .v-card__title {
    padding-top: $card-spacer-content;
  }

  .v-card__subtitle,
  .v-card__text,
  .v-card__actions {
    padding-top: 0;

    @at-root .v-card &:nth-child(1) {
      padding-top: $card-spacer;
    }

    &:last-child {
      padding-bottom: $card-spacer;
    }
  }

  .v-divider + {
    .v-card__subtitle,
    .v-card__text,
    .v-card__actions {
      padding-top: $card-spacer-content;
    }
  }

  .v-card__actions {
    &.dense {
      padding: 0 calc(#{$card-spacer} - 8px) calc(#{$card-spacer} - 8px);
    }
  }
}

// Vuetify Fix: We have replace the icon with svg icon badge don't have any style for svg inside the badge.
.v-badge__badge {
  .v-icon {
    height: $badge-font-size;
    width: $badge-font-size;
  }
}

// Vuetify Fix: Calendar default color should be primary but they add accent class
.v-date-picker-table {
  .v-date-picker-table__current,
  .v-btn--active {
    &.accent {
      background-color: var(--v-primary-base) !important;
      border-color: var(--v-primary-base) !important;
    }
    &.accent--text {
      color: var(--v-primary-base) !important;
      caret-color: var(--v-primary-base) !important;
    }
  }
}

// Vuetify Fix: month picker header text should be primary

.v-date-picker-header {
  .v-date-picker-header__value {
    .accent--text {
      button:hover {
        color: var(--v-primary-base);
      }
    }
  }
}

// Vuetify Fix: Time picker active time should be primary
.v-picker--time {
  .v-time-picker-clock__hand {
    &.accent {
      background-color: var(--v-primary-base) !important;
      border-color: var(--v-primary-base) !important;
    }
  }
  .v-time-picker-clock__item--active {
    &.accent {
      background-color: var(--v-primary-base) !important;
      border-color: var(--v-primary-base) !important;
    }
  }
}

//
//* ——— Expansion Panel ——————————————————
//

@include theme(v-expansion-panels) using ($material) {
  .v-expansion-panel-content__wrap {
    color: map-deep-get($material, 'text', 'secondary');
  }
}

.v-expansion-panels {
  &.v-expansion-panels--focusable {
    .v-expansion-panel--active {
      > .v-expansion-panel-header {
        min-height: unset;
      }
    }

    .v-expansion-panel-content__wrap {
      padding-top: 1rem;
    }
  }
}

.v-expansion-panel {
  &.v-expansion-panel--active {
    @include elevation(3, !important);
  }

  .v-expansion-panel-header {
    padding: 1rem;
  }

  .v-expansion-panel-content__wrap {
    padding: 0rem 1rem 1rem;
  }
}

//
//* ——— Dialog ——————————————————
//

// Add some space between divider and buttons
.v-dialog {
  .v-divider + .v-card__actions {
    padding-top: $card-spacer-content !important;
  }
}

//
//* ——— Pagination ——————————————————
//

.v-pagination__item,
.v-pagination__navigation {
  box-shadow: none !important;
}

@include theme(v-pagination) using ($material) {
  .v-pagination__item,
  .v-pagination__navigation {
    &:hover {
      background-color: rgba(map-get($shades, 'black'), map-deep-get($material, 'states', 'hover'));
    }
  }
}

//
//* ——— AutoComplete & Select ——————————————————
//

.v-autocomplete,
.v-select {
  .v-input__icon--clear {
    svg {
      height: 20px;
      width: 20px;
    }
  }
}

//
//* ——— Textarea ——————————————————
//

// ? Reason: Textarea hover underline color is too dark
.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
  border-color: rgba(map-get($shades, 'black'), 0.28) !important;
}

//
//* ——— Date Picker ——————————————————
//

.v-date-picker-table {
  .v-btn {
    &.v-btn--active.v-btn--disabled {
      color: #fff !important;
      opacity: 0.5;
    }
  }
}

//
//* ——— Button ——————————————————
//

.v-btn--is-elevated {
  @include elevation(3, !important);

  &:hover {
    @include elevation(4, !important);
  }

  &:active {
    @include elevation(2, !important);
  }
}

//
//* ——— Date Picker ——————————————————
//

@include theme(v-picker) using ($material) {
  // ? `.v-application--wrap` is used to make sure pickers shown in/from dialog/input don't have border.
  @at-root .v-application--wrap .v-picker {
    .v-picker__body {
      border: 1px solid rgba(map-deep-get($shades, 'black'), 0.22);
    }
  }
}

//
//* ——— Chip ——————————————————
//

// Modify small chip
.v-chip {
  &.v-size--small {
    font-size: 12px;
    height: 20px;
    padding: 0 8px;
  }
  .v-chip__close svg {
    opacity: 0.38;
  }
}

//
//* ——— Snackbar ——————————————————
//

.v-snack__wrapper:not([class*='--text']) {
  .v-snack__content {
    color: map-get($shades, 'white');
    letter-spacing: 0.25px;
    // line-height: 1.5;
  }
}

//
//* ——— Menu ——————————————————
//

.v-menu__content {
  min-width: 10rem !important;
}

//
//* ——— List ——————————————————
//

@include theme(v-list) using ($material) {
  color: map-deep-get($material, 'text', 'primary');

  &.primary,
  &.secondary,
  &.accent,
  &.success,
  &.error,
  &.warning,
  &.info {
    > .v-list-item {
      color: map-deep-get($material, 'text', 'secondary');
    }
  }
}

@include theme(v-list-item) using ($material) {
  &:not(.v-list-item--active):not(.v-list-item--disabled),
  &:not(.v-list-item--active):not(.v-list-item--disabled) .v-list-item__title {
    color: map-deep-get($material, 'text', 'secondary') !important;
  }
}

//
//* ——— Form ——————————————————
//

@if $customizer-form-icons {
  .v-input {
    .v-input__icon {
      .v-icon__svg {
        font-size: 20px;
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}

//
//* ——— Slider ——————————————————
//

.v-slider__track-background {
  opacity: 0.38;
}

//
//* ——— Date Picker ——————————————————
//

// .v-date-picker-title__year {
//   font-size: 0.75rem !important;
//   letter-spacing: 1px;
// }

//
//* ——— Text Field ——————————————————
//

// .v-text-field--outlined .v-label {
//   top: 50% !important;
//   transform: translateY(-50%);
// }

// ? Extra styles due to height update
.v-text-field {
  margin-top: 0 !important;
}

.v-text-field__details {
  margin-bottom: 8px;
}

.v-input:not(.v-select) {
  &:not(.v-text-field--filled):not(.v-text-field--solo) {
    input {
      min-height: 42px;
      padding-bottom: 0;
    }
  }

  ::placeholder {
    font-size: 0.875em;
  }
}

//
//* ——— Select ——————————————————
//

.v-select {
  &:not(.v-text-field--filled):not(.v-text-field--outlined):not(.v-text-field--solo) {
    .v-select__selection--comma {
      margin-top: 15px;
    }

    input {
      min-height: 42px;
    }
  }
}

//
//* ——— Tabs ——————————————————
//

.v-tabs {
  &.v-tabs--vertical {
    .v-tabs-slider-wrapper {
      right: 0 !important;
      left: unset !important;
    }
  }
}

@include theme(v-tabs) using ($material) {
  &.v-tabs--vertical {
    .v-slide-group__wrapper {
      border-right: thin solid map-get($material, 'dividers');
    }
  }
}

//
//* ——— Table ——————————————————
//

.v-data-table {
  th {
    font-weight: 600;
  }

  .v-data-footer__select {
    .v-input__append-inner {
      align-self: center;
    }
  }
}

@include theme(v-data-table) using ($material) {
  th {
    color: map-deep-get($material, 'text', 'primary') !important;
  }
  td {
    color: map-deep-get($material, 'text', 'secondary') !important;
  }
}
