// Shades
// ? We updated black value because our template design have `rgb(94, 86, 105)` as black instead of solid black
$shades: (
  'black': #5e5669,
  'white': #fff,
  'transparent': transparent,
);

@import '~vuetify/src/styles/styles.sass';

// ————————————————————————————————————
//* ——— CUSTOM VARIABLES
// ————————————————————————————————————

$card-spacer: 20px;
$card-spacer-content: 16px;
$component-border-color: rgba(map-get($shades, 'black'), 0.22);
$customizer-form-icons: true;

// ————————————————————————————————————
//* ——— VUETIFY
// ————————————————————————————————————

// https://vuetifyjs.com/en/api/vuetify/#sass-variables

$color-pack: false;
$border-radius-root: 5px;

// Typography
$body-font-family: 'Inter', sans-serif;

// Themes
$material-light: map-deep-merge(
  $material-light,
  (
    'app-bar': map-get($shades, 'white'),
    'background': #f4f5fa,
    'chips': rgba(map-get($shades, 'black'), 0.06),
    'dividers': rgba(map-get($shades, 'black'), 0.14),
    'input-bottom-line': rgba(map-get($shades, 'black'), 0.14),
    'inputs': (
      // ! Value of `map-deep-get($material-light, 'text-fields', 'filled')`
      'solo-inverted': rgba(map-get($shades, 'black'), 0.03),
    ),
    'text-fields': (
      'filled': rgba(map-get($shades, 'black'), 0.03),
      'filled-hover': rgba(map-get($shades, 'black'), 0.08),
      'outlined': rgba(map-get($shades, 'black'), 0.14),
      'outlined-hover': rgba(map-get($shades, 'black'), 0.28),
      'outlined-disabled': rgba(map-get($shades, 'black'), 0.22),
    ),
    'status-bar': (
      'regular': map-get($shades, 'white'),
    ),
    'picker': (
      'clock': #f5f5f5,
    ),
    'icons': (
      'active': map-deep-get($material-light, 'text', 'primary'),
    ),
  )
);

$shadow-key-umbra: (
  0: (
    0px 0px 0px 0px $shadow-key-umbra-opacity,
  ),
  1: (
    0 1px 3px 0 rgba(94, 86, 105, 0.2),
  ),
  2: (
    0 1px 3px 0 rgba(94, 86, 105, 0.2),
  ),
  3: (
    0 4px 8px -4px rgba(94, 86, 105, 0.42),
  ),
  4: (
    0 6px 18px -8px rgba(94, 86, 105, 0.56),
  ),
  5: (
    0px 3px 5px -1px $shadow-key-umbra-opacity,
  ),
  6: (
    0 2px 10px 0 rgba(94, 86, 105, 0.1),
  ),
  7: (
    0px 4px 5px -2px $shadow-key-umbra-opacity,
  ),
  8: (
    0 4px 14px 0 rgba(94, 86, 105, 0.14),
  ),
  9: (
    0 5px 6px -3px rgba(94, 86, 105, 0.2),
  ),
  10: (
    0px 6px 6px -3px $shadow-key-umbra-opacity,
  ),
  11: (
    0px 6px 7px -4px $shadow-key-umbra-opacity,
  ),
  12: (
    0 7px 8px -4px rgba(94, 86, 105, 0.2),
  ),
  13: (
    0px 7px 8px -4px $shadow-key-umbra-opacity,
  ),
  14: (
    0px 7px 9px -4px $shadow-key-umbra-opacity,
  ),
  15: (
    0px 8px 9px -5px $shadow-key-umbra-opacity,
  ),
  16: (
    0 8px 10px -5px rgba(94, 86, 105, 0.2),
  ),
  17: (
    0px 8px 11px -5px $shadow-key-umbra-opacity,
  ),
  18: (
    0px 9px 11px -5px $shadow-key-umbra-opacity,
  ),
  19: (
    0px 9px 12px -6px $shadow-key-umbra-opacity,
  ),
  20: (
    0px 10px 13px -6px $shadow-key-umbra-opacity,
  ),
  21: (
    0px 10px 13px -6px $shadow-key-umbra-opacity,
  ),
  22: (
    0px 10px 14px -6px $shadow-key-umbra-opacity,
  ),
  23: (
    0px 11px 14px -7px $shadow-key-umbra-opacity,
  ),
  24: (
    0 18px 42px -6px rgba(94, 86, 105, 0.18),
  ),
);

// ! `$shadow-key-penumbra-opacity` is useless now because we have different opacity per elevation level
$shadow-key-penumbra: (
  0: (
    0px 0px 0px 0px $shadow-key-penumbra-opacity,
  ),
  1: (
    0 2px 1px -1px rgba(94, 86, 105, 0.12),
  ),
  2: (
    0 3px 1px -2px rgba(94, 86, 105, 0.12),
  ),
  3: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  4: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  5: (
    0px 5px 8px 0px $shadow-key-penumbra-opacity,
  ),
  6: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  7: (
    0px 7px 10px 1px $shadow-key-penumbra-opacity,
  ),
  8: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  9: (
    0 3px 16px 2px rgba(94, 86, 105, 0.12),
  ),
  10: (
    0px 10px 14px 1px $shadow-key-penumbra-opacity,
  ),
  11: (
    0px 11px 15px 1px $shadow-key-penumbra-opacity,
  ),
  12: (
    0 5px 22px 4px rgba(94, 86, 105, 0.12),
  ),
  13: (
    0px 13px 19px 2px $shadow-key-penumbra-opacity,
  ),
  14: (
    0px 14px 21px 2px $shadow-key-penumbra-opacity,
  ),
  15: (
    0px 15px 22px 2px $shadow-key-penumbra-opacity,
  ),
  16: (
    0 6px 30px 5px rgba(94, 86, 105, 0.12),
  ),
  17: (
    0px 17px 26px 2px $shadow-key-penumbra-opacity,
  ),
  18: (
    0px 18px 28px 2px $shadow-key-penumbra-opacity,
  ),
  19: (
    0px 19px 29px 2px $shadow-key-penumbra-opacity,
  ),
  20: (
    0px 20px 31px 3px $shadow-key-penumbra-opacity,
  ),
  21: (
    0px 21px 33px 3px $shadow-key-penumbra-opacity,
  ),
  22: (
    0px 22px 35px 3px $shadow-key-penumbra-opacity,
  ),
  23: (
    0px 23px 36px 3px $shadow-key-penumbra-opacity,
  ),
  24: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
);

// ! `$shadow-key-ambient-opacity` is useless now because we have different opacity per elevation level
$shadow-key-ambient: (
  0: (
    0px 0px 0px 0px $shadow-key-ambient-opacity,
  ),
  1: (
    0 1px 1px 0 rgba(94, 86, 105, 0.14),
  ),
  2: (
    0 2px 2px 0 rgba(94, 86, 105, 0.14),
  ),
  3: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  4: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  5: (
    0px 1px 14px 0px $shadow-key-ambient-opacity,
  ),
  6: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  7: (
    0px 2px 16px 1px $shadow-key-ambient-opacity,
  ),
  8: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
  9: (
    0 9px 12px 1px rgba(94, 86, 105, 0.14),
  ),
  10: (
    0px 4px 18px 3px $shadow-key-ambient-opacity,
  ),
  11: (
    0px 4px 20px 3px $shadow-key-ambient-opacity,
  ),
  12: (
    0 12px 17px 2px rgba(94, 86, 105, 0.14),
  ),
  13: (
    0px 5px 24px 4px $shadow-key-ambient-opacity,
  ),
  14: (
    0px 5px 26px 4px $shadow-key-ambient-opacity,
  ),
  15: (
    0px 6px 28px 5px $shadow-key-ambient-opacity,
  ),
  16: (
    0 16px 24px 2px rgba(94, 86, 105, 0.14),
  ),
  17: (
    0px 6px 32px 5px $shadow-key-ambient-opacity,
  ),
  18: (
    0px 7px 34px 6px $shadow-key-ambient-opacity,
  ),
  19: (
    0px 7px 36px 6px $shadow-key-ambient-opacity,
  ),
  20: (
    0px 8px 38px 7px $shadow-key-ambient-opacity,
  ),
  21: (
    0px 8px 40px 7px $shadow-key-ambient-opacity,
  ),
  22: (
    0px 8px 42px 7px $shadow-key-ambient-opacity,
  ),
  23: (
    0px 9px 44px 8px $shadow-key-ambient-opacity,
  ),
  24: (
    0px 0px 0px 0px rgba(0, 0, 0, 0),
  ),
);

// ————————————————————————————————————
//* ——— COMPONENTS
// ————————————————————————————————————

//
//* ——— Alert ——————————————————
//

$alert-padding: 13px 16px;

//
//* ——— Button ——————————————————
//

$btn-sizes: (
  'x-small': 20,
  'small': 30,
  'default': 38,
  'large': 42,
  'x-large': 52,
);
// ! Need to update font size for `x-small` and `x-large`
$btn-font-sizes: (
  'x-small': 0.625rem,
  'small': 0.75rem,
  'default': 0.875rem,
  'large': 0.938rem,
  'x-large': 1rem,
);
$btn-letter-spacing: 0.01875rem;

//
//* ——— Card ——————————————————
//

$card-subtitle-padding: $card-spacer-content $card-spacer;
$card-actions-padding: $card-spacer-content $card-spacer;
$card-border-radius: 6px;
$card-elevation: 6;

//
//* ——— Switch ——————————————————
//

$switch-thumb-elevation: 1;

//
//* ——— Menu ——————————————————
//

$menu-content-border-radius: 6px;

//
//* ——— List ——————————————————
//

$list-item-action-icon-margin: 12px;
$list-item-icon-margin: 12px 0;

//
//* ——— Dialog ——————————————————
//

$dialog-card-title-padding: $card-spacer $card-spacer $card-spacer-content;
$dialog-card-text-padding: 0 $card-spacer $card-spacer-content;
$dialog-card-actions-padding: 0 $card-spacer $card-spacer;

//
//* ——— Tooltip ——————————————————
//

$tooltip-background-color: rgba(59, 55, 68, 0.9);
$tooltip-font-size: 0.75rem;

//
//* ——— Chip ——————————————————
//

// As we have SVG this isn't working
// We have used `dense` prop for v-icon
$chip-icon-size: 20px;

//
//* ——— Snackbar ——————————————————
//

$snackbar-background-color: rgba(59, 55, 68, 0.9);

//
//* ——— Time Picker ——————————————————
//

$time-picker-title-btn-height: 32px;

//
//* ——— TreeView ——————————————————
//

$treeview-node-height: 40px;
$treeview-node-height-dense: 36px;
