// TODO: Use vuetify SCSS variable here
@import "scss/mixins";

$card-spacer-content: 16px;

// Card match height
.row.match-height {
  .v-card {
    block-size: 100%;
  }
}

.demo-space-x {
  margin-block-start: -$card-spacer-content;

  & > * {
    margin-block-start: $card-spacer-content;
    margin-inline-end: $card-spacer-content;
  }
}

.demo-space-y {
  & > * {
    margin-block-end: $card-spacer-content;

    &:last-child {
      margin-block-end: 0;
    }
  }
}


// ℹ️ Avatar light bg
@include light-bg-provider(v-avatar)

// ——— Avatar Group ——————— //
.v-avatar-group {
  display: flex;
  align-items: center;

  > * {
    &:not(:first-child) {
      margin-inline-start: -0.8rem;
    }

    transition: transform 0.25s ease, box-shadow 0.15s ease;

    &:hover {
      z-index: 2;
      transform: translateY(-5px) scale(1.05);

      // TODO need to add box shadow
      // @include vuetify.elevation(2);
    }
  }

  > .v-avatar {
    border: 2px solid rgb(var(--v-theme-surface));
  }
}

// Utilities
.whitespace-no-wrap {
  white-space: nowrap;
}