@use "sass:map";
@use "sass:string";
@use "@configured-variables" as variables;
@use "scss/utils";

// @use "vuetify/lib/styles/settings/elevations" as vuetify_default_elevations;
// @use "vuetify/lib/styles/tools/functions" as vuetify_functions;
@use "vuetify/styles" as * with (
  $body-font-family: "Inter",
  $border-radius-root:6px,
  $color-pack: false,
  $card-color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)),
  $card-elevation: 6,
  $card-title-line-height: 1.6,
  $card-actions-min-height: unset,
  $card-text-padding: 20px,
  $card-item-padding: 20px,

  $card-actions-padding: 0 12px 12px,

  $shadow-key-umbra-opacity: rgba(var(--v-theme-on-surface), 0.08),
  $shadow-key-penumbra-opacity: rgba(var(--v-theme-on-surface), 0.12),
  $shadow-key-ambient-opacity: rgba(var(--v-theme-on-surface), 0.04),
  // // ℹ️ It uses above $shadow-key-umbra-opacity (Which we can't access while configuring)
  // $shadow-key-umbra: vuetify_functions.map-deep-merge(
  //   (
  //     6: (0 4px 5px -2px rgba(var(--v-theme-on-surface), 0.08)),
  //   ),
  //   vuetify_default_elevations.$shadow-key-umbra
  // ),

  // // ℹ️ It uses above $shadow-key-penumbra-opacity (Which we can't access while configuring)
  // $shadow-key-penumbra: vuetify_functions.map-deep-merge(
  //   (
  //     6: (0 2px 10px 1px rgba(var(--v-theme-on-surface), 0.12)),
  //   ),
  //   vuetify_default_elevations.$shadow-key-penumbra
  // ),

  // // ℹ️ It uses above $shadow-key-ambient-opacity (Which we can't access while configuring)
  // $shadow-key-ambient: vuetify_functions.map-deep-merge(
  //   (
  //     6: (0 2px 16px 1px rgba(var(--v-theme-on-surface), 0.04)),
  //   ),
  //   vuetify_default_elevations.$shadow-key-ambient
  // ),

  // 👉 Components

  $navigation-drawer-color: rgba(var(--v-theme-on-surface), var(--v-high-medium-opacity)),
  $table-color: rgba(var(--v-theme-on-surface), var(--v-high-medium-opacity)),
  $tooltip-background-color: rgba(59, 55, 68, 0.9),
  $tooltip-text-color: rgb(var(--v-theme-on-primary)),
  $tooltip-font-size: 0.75rem,
  $alert-title-font-size: 1rem,
  $alert-border-radius:5px,
  $alert-title-letter-spacing:0.15px,
  $badge-border-color:rgb(var(--v-theme-surface)),
  $button-elevation: ("default": 3, "hover": 4, "active": 8),
  $button-border-radius:5px,
  $dialog-card-header-padding: 20px,
  $dialog-card-header-text-padding-top: 0,
  $dialog-card-text-padding: 20px,
  $chip-label-border-radius:4px,
  $expansion-panel-title-padding: 16px 20px,
  $expansion-panel-title-font-size:1rem,
  $expansion-panel-disabled-overlay: 0,
  $expansion-panel-title-min-height:51px,
  $expansion-panel-text-padding: 0 20px 20px,
  $menu-content-border-radius: 5px,
  $snackbar-background:#212121,
  $snackbar-border-radius: 4px,
  $snackbar-color: rgb(var(--v-theme-on-primary)),
  $typography: (
    "h1": (
      "weight": 500,
      "line-height": 7rem,
      "letter-spacing": -0.0938rem
    ),
    "h2": (
      "weight": 500,
      "line-height": 4.5rem,
      "letter-spacing": -0.0313rem
    ),
    "h3": (
      "weight": 500,
      "line-height": 3.5rem
    ),
    "h4": (
      "weight": 500,
      "line-height": 2.625rem,
      "letter-spacing": 0.0156rem
    ),
    "h5": (
      "weight": 500,
      "line-height": 2rem
    ),
    "h6": (
      "letter-spacing": 0.0719rem
    ),
    "subtitle-1": (
      "letter-spacing": 0.0094rem
    ),
    "subtitle-2": (
      "line-height": 1.375rem,
      "letter-spacing": 0.0063rem,
    ),
    "body-1": (
      "letter-spacing": 0.0094rem,
    ),
    "body-2": (
      "letter-spacing": 0.0094rem,
    ),
    "caption": (
      "letter-spacing": 0.025rem,
    ),
    "overline": (
      "weight": 400,
      "line-height": 1.125rem,
      "letter-spacing": 0.0625rem,
    )
  ),
  $states: ("activated": 0.08)
);

/*
  ℹ️ We created this SCSS var to calculate accurate $card-actions-padding [$card-item-padding - $button-card-actions-padding(only x value)]

  Docs: https://sass-lang.com/documentation/modules/string

  $button-card-actions-padding => 0 8px;
  string.index(#{$button-card-actions-padding}, " ") + 1 => 2
    string.index(#{$button-card-actions-padding}, " ") => 1

  string.slice(0 8px, 2, -1) => 8px => $card-actions-padding-x
*/
$card-actions-padding-x: string.slice(
  #{$button-card-actions-padding},
  string.index(#{$button-card-actions-padding}, " ") + 1,
  -1
);

// ℹ️ We need accurate vh in mobile devices as well
.v-application__wrap {
  /* stylelint-disable-next-line liberty/use-logical-spec */
  min-height: calc(var(--vh, 1vh) * 100);
}

// @debug $card-actions-padding-x;

// 👉 Card
// Removes padding-top for immediately placed v-card-text after itself
.v-card-text {
  & + & {
    padding-block-start: 0;
  }
}

// 👉 Grid
// Remove margin-bottom of v-input_details inside grid (validation error message)
.v-row {
  .v-col,
  [class^="v-col-*"] {
    .v-input__details {
      margin-block-end: 0;
    }
  }
}

// 👉 Typography
h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-button,
.text-overline,
.v-card-title {
  color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
}

.v-application,
.text-body-1,
.text-body-2,
.text-subtitle-1,
.text-subtitle-2 {
  color: rgba(var(--v-theme-on-background), var(--v-medium-emphasis-opacity));
}

// 👉 CSS Variables
[class*="v-theme--"] {
  --v-medium-emphasis-opacity: 0.68 !important;
}

.v-theme--light {
  --v-theme-background:
    var(
      --skin-theme-background,
      #{utils.map-deep-get(variables.$css-vars, "default", "--v-theme-background", "light")}
    ) !important;
  --v-theme-surface:
    var(
      --skin-theme-surface,
      #{utils.map-deep-get(variables.$css-vars, "default", "--v-theme-surface", "light")}
    ) !important;
}

.v-theme--dark {
  --v-theme-background:
    var(
      --skin-theme-background,
      #{utils.map-deep-get(variables.$css-vars, "default", "--v-theme-background", "dark")}
    ) !important;
  --v-theme-surface:
    var(
      --skin-theme-surface,
      #{utils.map-deep-get(variables.$css-vars, "default", "--v-theme-surface", "dark")}
    ) !important;
}

// SECTION Custom patches

/*
  // TODO Checkbox and switch component. Remove it when vuetify resolve the extra spacing
  We need this because form elements likes checkbox and switches are by default set to height of textfield height which is way big than we want
  Tested with checkbox & switches
*/
.v-checkbox.v-input,
.v-switch.v-input {
  --v-input-control-height: auto;

  display: inline-grid;
  flex: unset;
}

.v-radio {
  --v-selection-control-size: auto;

  .v-label {
    margin-inline-start: 0.5rem;
  }
}

.v-radio-group {
  .v-selection-control-group {
    .v-radio:not(:last-child) {
      margin-inline-end: 0.9rem;
    }
  }
}

// Input placeholder vertical alignment: https://github.com/vuetifyjs/vuetify/issues/15409
.v-input {
  .v-label {
    line-height: 1.6;
  }

  .v-field__input {
    input {
      margin-block-end: 4px;
    }
  }
}

// !SECTION

/*
  👉 Disable tab transition

  This is for tabs where we don't have card wrapper to tabs and have multiple cards as tab content.

  This class will disable transition and adds `overflow: unset` on `VWindow` to allow spreading shadow
*/
.disable-tab-transition {
  overflow: unset !important;

  .v-window__container {
    block-size: auto !important;
  }

  .v-window-item:not(.v-window-item--active) {
    display: none !important;
  }

  .v-window__container .v-window-item {
    transform: none !important;
  }
}

// TODO remove the below patches after resolve by vuetify: https://github.com/vuetifyjs/vuetify/issues/15469
// This is for spacing between multiple chip inside combobox
/* stylelint-disable-next-line no-descending-specificity */
.v-field__input {
  gap: 0.25rem;
}

/*
  👉 Remove list spacing inside card

  This is because card title gets padding of 20px and list item have padding of 16px. Moreover, list container have padding-bottom as well.
*/

.card-list {
  &.v-list {
    padding-block-end: 0;
  }

  .v-list-item {
    min-block-size: unset;
    padding-block-end: 0 !important;
    padding-block-start: 0 !important;
    padding-inline-end: 0 !important;
    padding-inline-start: 0 !important;

    &:not(:last-child) {
      padding-block-end: 20px !important;
    }
  }
}
