// Theme Updates
@import "./default-theme-updates"

img.medium-zoom {
    border-radius: 6px;
    &:not(.medium-zoom-image--opened) {
        border: thin solid #eaecef;    
    }
}

// Style Image
img
  &.rounded
    border-radius: 6px
  &.bordered:not(.medium-zoom-image--opened)
    border: 1px solid $borderColor

// Pages Styles
@import "./pages/home"
@import "./pages/article-list"
