// Pages Styles
@import "./pages/home"

.site-name::after
    content: '- Vue 3'
    margin-left: 0.5rem
    font-size: 1rem
    color: #9155FD

.navbar .logo
    height: 1.7rem !important
    min-width: 1.7rem !important
    margin-right: 0.8rem !important
    vertical-align: sub !important