// These are styles which are both common in layout w/ vertical nav & horizontal nav
@use "@layouts/styles/rtl";
@use "@layouts/styles/placeholders";
@use "@configured-variables" as variables;

html,
body {
  min-block-size: 100%;
}

.layout-wrapper {
  display: flex;
}

@if variables.$layout-vertical-nav-navbar-is-contained {
  .layout-navbar {
    .layout-content-width-boxed & {
      @extend %boxed-content;

      padding: 0 2rem;
    }
  }
} @else {
  .layout-navbar {
    .navbar-content-container {
      @extend %boxed-content;

      padding: 0 2rem;
    }
  }
}

.layout-page-content {
  flex-grow: 1;
  inline-size: 100%;

  .layout-content-width-boxed & {
    @extend %boxed-content;
  }
}

.layout-footer {
  .layout-footer-sticky & {
    position: sticky;
    inset-block-end: 0;
    will-change: transform;
  }

  .layout-footer-hidden & {
    display: none;
  }

  .layout-content-width-boxed & {
    .footer-content-container {
      @extend %boxed-content;
    }
  }
}
