#page-knowledge-base {
  // page kb-character-wrapper bg
  .page-kb-character-wrapper {
    position: relative;
    /* stylelint-disable-next-line color-function-notation */
    background: rgba(var(--v-theme-background), 0.5);
    block-size: 12.5rem;
    padding-block-start: 1.438rem;

    .v-image {
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
    }
  }

  // category
  .page-kbc-title {
    /* stylelint-disable-next-line color-function-notation */
    background-color: rgba(var(--v-theme-background), 0.5);
  }
}
