@use "../variables";

%default-layout-vertical-nav-scrolled-sticky-nav {
  background-color: rgb(var(--v-theme-surface));
}

// Check do we need this in default layout w/ horizontal nav
%default-layout-vertical-nav-navbar-blur {
  backdrop-filter: blur(8px);
  background-color: rgb(var(--v-theme-surface), 0.9);
  box-shadow: variables.$vertical-nav-navbar-shadow;
}
