@use "@core/scss/mixins";
@use "../variables";
@use "vuetify/lib/styles/tools/states" as vuetifyStates;

// Nav items styles (including section title)
%vertical-nav-item {
  margin-block: 0;
  margin-inline: variables.$vertical-nav-horizontal-spacing;
  padding-block: 0;
  padding-inline: 0.75rem;
  white-space: nowrap;
}

// This is same as `%vertical-nav-item` except section title is excluded
%vertical-nav-item-interactive {
  block-size: 2.75rem;
  border-radius: 0.4rem;
}

// Common styles for nav item icon styles
// ℹ️ Nav group's children icon styles are not here (Adjusts height, width & margin)
%vertical-nav-items-icon {
  flex-shrink: 0;
  margin-inline-end: 1rem;
}

// Open & Active nav group styles
%vertical-nav-group-open-active {
  @include vuetifyStates.active-states("&::before");
}

// Section title
%vertical-nav-section-title {
  // ℹ️ Setting height will prevent jerking when text & icon is toggled
  block-size: 1.5rem;
  /* stylelint-disable-next-line color-function-notation */
  color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity));
}

// Vertical nav item badge styles
%vertical-nav-item-badge {
  display: inline-block;
  border-radius: 1.5rem;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  padding-block: 0.35em;
  padding-inline: 0.65em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
