@use "@configured-variables" as variables;
@use "./placeholders";
@use "vuetify/lib/styles/tools/_elevation" as mixins_elevation;

.layout-wrapper.layout-nav-type-vertical {
  // Scrolled styles
  &.window-scrolled {
    &.layout-navbar-sticky {
      .layout-navbar {
        @extend %default-layout-vertical-nav-scrolled-sticky-nav;

        &.navbar-blur {
          @extend %default-layout-vertical-nav-navbar-blur;
        }
      }

      @if variables.$layout-vertical-nav-navbar-is-contained {
        &.layout-content-width-boxed .layout-navbar {
          &.navbar-blur {
            .navbar-content-container {
              @extend %default-layout-vertical-nav-navbar-blur;
            }
          }

          .navbar-content-container {
            @extend %default-layout-vertical-nav-scrolled-sticky-nav;
          }
        }
      }
    }
  }

  // Add transition to both navbar and content
  .layout-navbar,
  .layout-navbar .navbar-content-container {
    transition: padding 0.2s ease, background-color 0.18s ease, inset-inline-start 0.3s ease;
  }

  &.layout-content-width-boxed {
    @if variables.$layout-vertical-nav-navbar-is-contained {
      // ℹ️ Static navbar styles
      .layout-navbar {
        backdrop-filter: unset !important;
        background-color: unset !important;
        box-shadow: unset !important;

        .navbar-content-container {
          border-radius: 0 0 variables.$default-layout-with-vertical-nav-navbar-footer-roundness variables.$default-layout-with-vertical-nav-navbar-footer-roundness;

          // ℹ️ Sticky navbar + scrolled styles
          @at-root {
            .layout-wrapper.layout-nav-type-vertical.layout-content-width-boxed.window-scrolled.layout-navbar-sticky {
              .layout-navbar .navbar-content-container {
                padding-block: 0;
                padding-inline: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  // 👉 Layout footer
  .layout-footer {
    $ele-layout-footer: &;

    .footer-content-container {
      border-radius: variables.$default-layout-with-vertical-nav-navbar-footer-roundness variables.$default-layout-with-vertical-nav-navbar-footer-roundness 0 0;

      // 👉 Sticky footer
      @at-root {
        // ℹ️ .layout-footer-sticky#{$ele-layout-footer} => .layout-footer-sticky.layout-wrapper.layout-nav-type-vertical .layout-footer
        .layout-footer-sticky#{$ele-layout-footer} {
          .footer-content-container {
            background-color: rgb(var(--v-theme-surface));
            padding-block: 0;
            padding-inline: 1.2rem;

            @include mixins_elevation.elevation(3);
          }
        }
      }
    }
  }
}
