// TODO: Find all static box shadows and use vuetify elevation mixin
@use "sass:map";

// Layout
@use "vertical-nav";
@use "horizontal-nav";
@use "default-layout-w-vertical-nav";
@use "default-layout-w-horizontal-nav";

// Skins
@use "skins";

// Components
@use "components";

// Utilities
@use "utilities";

// #app {
//   block-size: 100%;
// }

// TODO: Does vuetify needs this style in their core (https://discord.com/channels/340160225338195969/660898563139567625/981505998009270342)
a {
  color: inherit;
  text-decoration: none;
}

// Vuetify 3 don't provide margin bottom style like vuetify 2
p {
  margin-block-end: 1rem;
}
