@use "vuetify/lib/styles/tools/elevation" as elevation;
@use "./variables";

.layout-wrapper.layout-nav-type-horizontal {
  .layout-navbar-and-nav-container {
    @include elevation.elevation(3);
  }

  // 👉 Navbar
  .layout-navbar {
    box-sizing: border-box;
    background-color: rgb(var(--v-theme-surface));
    /* stylelint-disable-next-line color-function-notation */
    border-block-end: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
  }

  // 👉 Layout content container
  .navbar-content-container {
    display: flex;
    align-items: center;
    block-size: 100%;
  }

  .layout-horizontal-nav {
    box-sizing: border-box;
    padding: variables.$horizontal-nav-padding;
    background-color: rgb(var(--v-theme-surface));
  }

  // 👉 App footer
  .layout-footer {
    padding: 1.2rem 0;
    background-color: rgb(var(--v-theme-surface));
    box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
  }

  // TODO: Use Vuetify grid sass variable here
  .horizontal-nav-content-container,
  .navbar-content-container,
  .layout-page-content {
    padding-inline: 1.5rem;
  }

  // TODO: Use Vuetify grid sass variable here
  .layout-page-content {
    padding-block: 1.5rem;
  }
}
