.layout-wrapper.layout-nav-type-vertical {
  // 👉 Layout navbar
  .layout-navbar {
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
  }

  // 👉 Layout footer
  .layout-footer {
    padding: 1.2rem 0;
    background: white;
    box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
  }
}
