@use "@configured-variables" as variables;

%nav-styles {
  backdrop-filter: blur(8px);
  background-color: rgba(var(--v-theme-surface), 0.9);
  box-shadow: 0 4px 8px -4px rgba(94, 86, 105, 42%);
}

.layout-wrapper.layout-nav-type-vertical {
  // Scrolled styles
  &.window-scrolled {
    &.layout-navbar-sticky {
      .layout-navbar {
        @extend %nav-styles;
      }

      @if variables.$layout-vertical-nav-navbar-is-contained {
        &.layout-content-width-boxed .layout-navbar .navbar-content-container {
          @extend %nav-styles;
        }
      }
    }
  }

  // Add transition to both navbar and content
  .layout-navbar,
  .layout-navbar .navbar-content-container {
    transition: padding 0.2s ease, background-color 0.18s ease, left 0.3s ease;
  }

  .layout-navbar {
    padding: 1.2rem;
  }

  &.layout-content-width-boxed {
    @if variables.$layout-vertical-nav-navbar-is-contained {
      .layout-navbar {
        backdrop-filter: unset !important;
        background-color: unset !important;
        box-shadow: unset !important;

        .navbar-content-container {
          padding: 1.2rem 0;
          border-radius: 0 0 6px 6px;

          @at-root {
            .layout-wrapper.layout-nav-type-vertical.layout-content-width-boxed.window-scrolled.layout-navbar-sticky {
              .layout-navbar .navbar-content-container {
                padding: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  // &.layout-content-width-boxed {
  //   // 👉 Layout navbar
  //   @if variables.$layout-vertical-nav-navbar-is-contained {
  //     .layout-navbar {
  //       .navbar-content-container {
  //         padding: 1.2rem 0;
  //         transition: padding 0.2s ease, background-color 0.18s ease, left 0.3s ease;

  //         @at-root {
  //           .layout-wrapper.layout-nav-type-vertical {
  //             &.layout-content-width-boxed {
  //               .layout-navbar .navbar-content-container {
  //                 border-radius: 0 0 6px 6px;
  //               }
  //             }
  //           }
  //         }

  //         @at-root {
  //           .layout-wrapper.layout-nav-type-vertical {
  //             &.window-scrolled.layout-navbar-sticky {
  //               .layout-navbar {
  //                 .navbar-content-container {
  //                   backdrop-filter: blur(8px);
  //                   background-color: hsl(0deg 0% 100% / 90%) !important;
  //                   box-shadow: 0 4px 8px -4px rgb(94 86 105 / 42%) !important;
  //                 }
  //               }

  //               &.layout-content-width-boxed {
  //                 .layout-navbar .navbar-content-container {
  //                   padding: 1.2rem;
  //                 }
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   } @else {
  //     .layout-navbar {
  //       padding: 1.2rem;
  //       background-color: #fff;
  //       box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
  //     }
  //   }
  // }

  // 👉 Layout footer
  .layout-footer {
    padding: 1.2rem 0;
    background: white;
    box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
  }
}
