// 👉 Placeholders
@use "sass:color";
@use "@core/scss/mixins";

// SECTION Vertical nav
// TODO: This placeholder is too specific. Make it more generic (changing the name will do the trick).
%vertical-nav-items-roundness {
  border-radius: 0.4rem;
}

// Common styles for all nav items including section title
%vertical-nav-item {
  padding: 1.35rem 0.75rem;
  margin: 0 1rem;
  block-size: 1.5rem;
  white-space: nowrap;
}

// Common styles for nav item icon styles
// ℹ️ Nav group's children icon styles are not here (Adjusts height, width & margin)
%vertical-nav-items-icon {
  flex-shrink: 0;
  margin-inline-end: 1rem;
}

%nav-items-hover-styles {
  background-color: rgb(var(--app-nav-group-active-hover-background-color));
}

%nav-group-active-styles {
  background-color: rgb(var(--app-nav-group-active-background-color));
}

%nav-link-active-styles {
  background-color: rgb(var(--v-theme-primary));
  color: rgb(var(--v-theme-on-primary));
}

// !SECTION

// SECTION Horizontal nav
// Common styles for all nav items
%horizontal-nav-item {
  padding: 0.7rem 1rem;
}

// TODO: This placeholder is too specific. Make it more generic (changing the name will do the trick).
%horizontal-nav-items-roundness {
  border-radius: 0.4rem;
}

%horizontal-nav-sub-nav-link-styles {
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(var(--v-theme-primary), 0.1);
  color: rgb(var(--v-theme-primary));
}

%horizontal-nav-popper-content-initial-styles {
  display: none;
}

%horizontal-nav-popper-content-visible-styles {
  display: block;
}

// !SECTION
