// 👉 Placeholders
@use "sass:color";

%nav-items-roundness {
  border-radius: 0.4rem;
}

%nav-items-space {
  padding: 1.35rem 0.75rem;
  margin: 0 1rem;
  block-size: 1.5rem;
  white-space: nowrap;
}

%vertical-nav-items-icon {
  flex-shrink: 0;
  margin-inline-end: 1rem;
}

%nav-items-hover-styles {
  background-color: rgb(var(--app-nav-group-active-hover-background-color));
}

%nav-group-active-styles {
  background-color: rgb(var(--app-nav-group-active-background-color));
}

%nav-link-active-styles {
  background-color: #10b981;
  color: white;
}

// 👉 Horizontal nav
%horizontal-nav-item {
  padding: 0.7rem 1rem;
}

%horizontal-nav-item-hover-styles {
  background-color: #f7f7f7;
}

%horizontal-nav-items-roundness {
  border-radius: 0.4rem;
}

%horizontal-nav-sub-nav-link-styles {
  background: rgb(16 185 129 / 10%);
  color: rgb(16 185 129);
}

%horizontal-nav-sub-nav-group-styles {
  background: rgba(0 0 0 / 10%);
}

%horizontal-nav-popper-content-initial-styles {
  display: none;
}

%horizontal-nav-popper-content-visible-styles {
  display: block;
}
