@use "./vertical_nav";
@use "./horizontal_nav";
@use "./default_layout_w_vertical_nav";
@use "./default_layout_w_horizontal_nav";

/* stylelint-disable-next-line selector-class-pattern */
.v-theme--light {
  --v-theme-background: 241, 241, 241 !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-theme--dark {
  --v-theme-surface: 47, 47, 47 !important;
}

/* stylelint-disable-next-line selector-id-pattern */
#app {
  block-size: 100%;
}

.v-application {
  background-color: rgb(var(--v-theme-background));
}

a {
  color: inherit;
  text-decoration: none;
}
